@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-50 text-slate-900;
  }
}

@layer components {
  .btn-primary {
    @apply bg-blue-700 hover:bg-blue-800 text-white font-bold py-2 px-4 rounded-xl transition-colors;
  }
}